#btn1 {
    color: rgb(238, 240, 235) !important;
    background: linear-gradient(320deg, rgb(4, 238, 4), black, red);
    border: none;
    border-radius: 25px;
    margin-top: 20px;
}

#btn1:hover {
    font-size: large;
}